<div class="py-6">

  <!-- HEADER -->
  <div class="mb-6">
    <h2 class="font-semibold text-[32px] leading-[69px] uppercase tracking-normal"
      [ngClass]="variant === 'purple' ? 'text-white' : 'text-gray-800'">
      {{ title }}
    </h2>

    <p *ngIf="subtitle" class="text-[16px] font-normal mt-1"
      [ngClass]="variant === 'purple' ? 'text-white/80' : 'text-gray-500'">
      {{ subtitle }}
    </p>
  </div>

  <!-- ✅ GRID FIX -->
  <div class="grid justify-center gap-6 [grid-template-columns:repeat(auto-fit,minmax(200px,max-content))]">

    <app-game-cards *ngFor="let game of games" [data]="game" (cardClick)="onProductClick($event)"></app-game-cards>

  </div>

  <!-- BUTTON -->
  <div *ngIf="showButton" class="flex justify-center mt-6">
    <button class="bg-[#895DEC] text-white px-6 py-2 rounded-lg">
      View More
    </button>
  </div>

</div>