<!-- game-cards.component.html -->

<div
  class="bg-white rounded-2xl shadow-sm border border-gray-100
         w-full h-full flex flex-col cursor-pointer
         overflow-hidden
         hover:shadow-md transition-all duration-200"
  (click)="onClick()"
>

  <!-- IMAGE -->
  <div class="w-full h-[180px] sm:h-[180px] lg:h-[220px]">
    <img
      [src]="data.image"
      class="w-full h-full object-cover rounded-[12px]"
    />
  </div>

  <!-- CONTENT -->
  <div class="px-3 pt-1 pb-2 flex flex-col flex-1">

    <!-- TITLE -->
    <h3
      class="text-[18px] font-semibold text-[#111827]
             leading-tight font-['Fustat'] mt-2"
    >
      {{ data.title }}
    </h3>

    <!-- SOLD + RATING -->
    <div class="flex items-center justify-between mt-1">

      <p
        class="text-[16px] text-gray-500 font-['Inter']"
      >
        {{ data.sold || '0 Vendidos' }}
      </p>

      <div
        class="bg-[#F5EAD7] px-3 py-1 rounded-full
               flex items-center gap-1"
      >
        <span
          class="text-[14px] font-medium text-gray-900 font-['Inter']"
        >
          {{ data.rating || 0 }}
        </span>

        <span class="text-yellow-500 text-[16px]">
          ★
        </span>
      </div>

    </div>

  </div>

  <!-- BUTTON -->
  <div class="px-3 pb-3">
    <button
      class="w-full border-2 border-[#7B2CBF]
             rounded-xl py-2
             text-[16px] font-medium text-gray-900
             font-['Inter']
             hover:bg-[#7B2CBF]
             hover:text-white
             transition-all duration-200"
      (click)="$event.stopPropagation(); onClick()"
    >
      Top Up
    </button>
  </div>

</div>