<div class="w-full overflow-x-auto no-scrollbar mb-3s">

  <div
    class="flex items-center gap-3
           w-max mx-auto
          
           px-3 py-2
           "
  >

    <div
      *ngFor="let tab of tabs"
      (click)="selectTab(tab)"
      class="flex items-center gap-2
             px-4 py-2
             rounded-full
             cursor-pointer
             transition-all duration-200
             whitespace-nowrap"
     [ngClass]="{
  'bg-[#F2CAFF] text-black shadow-sm font-semibold':
    tab.value === activeTab,

  'bg-white hover:border-purple-300':
    tab.value !== activeTab && !isHomePage,

  'bg-[#F9FAFB] hover:border-purple-300':
    tab.value !== activeTab && isHomePage
}"
    >

      <img
        [src]="tab.image"
        class="w-5 h-5 object-contain"
      />

      <span class="text-sm">
        {{ tab.label }}
      </span>

    </div>

  </div>

</div>