<div
  class="max-w-[1128px] min-h-[644px] mx-auto bg-[#F5F5F5] border border-[#F5F5F5] rounded-[30px] p-[50px] py-6 sm:py-10">


  <!-- MAIN -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 sm:gap-6">

    <!-- LEFT -->
    <div class="lg:col-span-2 space-y-4">

      <!-- PRODUCT -->
      <div class="flex items-center justify-between bg-white p-4 rounded-xl">

        <div class="flex items-center gap-3 sm:gap-4">
          <div class="relative w-[70px] h-[70px]">

            <img [src]="order.image" class="w-full h-full rounded-[8px] border border-[#7E00A6] p-[6px] object-cover" />

            <!-- Badge (INSIDE) -->
            <div class="absolute top-[4px] right-[4px] 
              w-[13px] h-[13px] 
              bg-[#E5E5E5] 
              rounded-full 
              flex items-center justify-center 
              text-[8px] font-medium">
              1
            </div>
          </div>

          <div class="flex flex-col gap-[10px]">
            <h3 class="font-normal text-[16px] sm:text-[18px] lg:text-[20px] leading-none tracking-normal">
              {{ order.title }}
            </h3>
            <p
              class="font-normal text-[13px] sm:text-[14px] lg:text-[15px] leading-none tracking-normal text-center text-gray-500">
              {{ order.subtitle }}
            </p>
          </div>
        </div>

        <div class="flex items-center gap-[20px]">
          <span class="font-normal text-[18px] leading-none tracking-normal text-[#525252]">
            {{ order.price | currency:'USD':'symbol':'1.2-2' }}
          </span>
          <img src="icons/trash.png"
            class="w-[20px] h-[20px] cursor-pointer hover:opacity-70 transition object-contain" />
        </div>

      </div>

      <!-- SUMMARY -->
      <div class="bg-white rounded-xl p-4">

        <div class="flex justify-between items-center cursor-pointer" (click)="toggleSummary()">
          <h3 class="font-medium text-base sm:text-xl">Order Summary</h3>

          <i class="fa-solid fa-chevron-down transition-transform duration-300" [class.rotate-180]="summaryOpen"></i>
        </div>

        <div *ngIf="summaryOpen" class="mt-4 space-y-2 text-sm sm:text-base">

          <div class="flex justify-between">
            <span>Subtotal</span>
            <span>${{ summary.subtotal }}</span>
          </div>

          <div class="flex justify-between">
            <span>Discount</span>
            <span class="text-green-500"> ${{ summary.discount.toFixed(2) }}</span>
          </div>

          <div class="flex justify-between">
            <span>Coupon</span>
            <span class="text-purple-600 font-semibold text-[16px] leading-none tracking-normal">{{ summary.coupon }}</span>
          </div>

          <div class="flex justify-between">
            <span>SD Coins used</span>

            <span class="flex items-center gap-[6px]">
              <img src="icons/coin.png" class="w-[23px] h-[23px]" />
              <span class="font-normal text-[16px] leading-[150%] tracking-normal">
                -{{ summary.coins }} (${{ (summary.coins / 100).toFixed(2) }})
              </span>

            </span>

          </div>

          <hr />

          <div class="flex justify-between text-lg sm:text-xl">
            <span class="font-medium">Total</span>
            <span class="font-normal">
              ${{ total }}
            </span>
          </div>

        </div>

      </div>

      <!-- BUTTONS -->
      <div class="flex flex-col sm:flex-row gap-3 sm:gap-4 mt-4 sm:mt-6 sm:justify-end">

        <button
          class="bg-gradient-to-r from-purple-500 to-purple-700 hover:from-purple-600 hover:to-purple-800 text-white w-full sm:w-auto px-6 py-3 sm:py-4 rounded-lg transition"
          (click)="proceed()">
          Proceed to payment
        </button>

        <button
          class="bg-white border border-[#7E00A6] w-full sm:w-auto px-6 py-3 sm:py-4 rounded-lg hover:bg-gray-100 transition">
          Go back home
        </button>

      </div>

    </div>

    <!-- RIGHT -->
    <div class="bg-white rounded-xl p-4 h-fit">

      <div class="flex justify-between items-center cursor-pointer" (click)="toggleAccount()">
        <h3 class="font-medium text-base sm:text-lg">Game Account Info</h3>

        <i class="fa-solid fa-chevron-down transition-transform duration-300" [class.rotate-180]="accountOpen"></i>
      </div>
      
      <div *ngIf="accountOpen"
        class="mt-4 space-y-2 text-[14px] font-normal leading-none tracking-normal text-[#737373]">
        <p><span>Server:</span> {{ account.server }}</p>
        <p><span>User ID:</span> {{ account.userId }}</p>
        <p><span>Nickname:</span> {{ account.nickname }}</p>
      </div>

    </div>

  </div>

</div>