<div class="py-16">  <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-10 items-start">

    <!-- LEFT -->
    <div>
<span
  class="text-purple-600 text-[16px] px-3 py-1 rounded-full"
  [ngClass]="
    variant === 'default'
      ? 'bg-white border border-[#ECECEC]'
      : 'bg-[#F3F4F6]'
  "
>
  Perguntas Frequentes
</span>    

      <h2 class="font-bold text-[32px] uppercase text-gray-900 mt-4">
        PERGUNTAS FREQUENTES
      </h2>

      <p class="text-gray-500 mt-4 text-[16px] max-w-md">
        Encontre respostas rápidas para as dúvidas mais comuns sobre recargas, pagamentos e funcionamento da <strong class="text-purple-600">SDShop</strong>. Tudo o que você precisa saber para comprar com segurança e praticidade.
      </p>
    </div>

    <!-- RIGHT -->
    <div class="space-y-4">

      <div
        *ngFor="let faq of faqs"
  [ngClass]="
    variant === 'listing'
      ? 'bg-[#F8F8F8] border-[#E5E5E5] rounded-xl p-5 shadow-sm'
      : 'bg-white border-[#ECECEC] rounded-xl p-5 shadow-sm'
  "     >

        <!-- HEADER -->
        <div
          class="flex justify-between items-center cursor-pointer"
          (click)="toggle(faq)"
        >
          <h3 class="font-semibold text-gray-800 text-[20px]">
            {{ faq.question }}
          </h3>

          <!-- ICON -->
          <div
            class="w-8 h-8 flex items-center justify-center rounded-full flex-shrink-0 ml-3"
            [ngClass]="faq.open ? 'bg-[#7E00A6] text-white' : 'bg-gray-200 text-gray-600'"
          >
            <i
              class="fa-solid"
              [ngClass]="faq.open ? 'fa-chevron-up' : 'fa-chevron-down'"
            ></i>
          </div>

        </div>

        <!-- BODY -->
        <div *ngIf="faq.open" class="mt-3 text-[16px] text-gray-500" [innerHTML]="faq.answer">
        </div>

      </div>

    </div>

  </div>

</div>